
.header-container {
    font-family: "Antic Didone", serif;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 25vh;
    position: relative;
    font-size: 2.5rem;
    color: rgb(242, 113, 0);
    overflow: hidden;
    
}


.header-text {
    
}

.cursor {
    background-color: rgb(242, 113, 0);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
}


.scroll-container a:any-link {
    text-decoration: none;
    color: rgb(242, 113, 0);
}